/* billboard contact page */
.contact
{
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../img/bgcontact.png');
  background-size: cover;
}
.contact .content
{
  margin-left: 50px;
  max-width: 1100px;
  text-align: left;
}
.contact .content h2
{
  font-size: 4.3em;
  color: #fff;
  margin-bottom: 15px;
}
.contact .content h2 span
{
  color: #F4A460;
}
.contact .content p
{
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
}
.contact .shadow
{
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  background: url('../img/shadow.png') repeat-x;
}

/* services */
.services .ul
{
  margin-top: 5px;
}
.services .ul .column
{
  list-style: none;
  display: inline;
  width: 50%;
  float: left;
  text-align: left;
}
.services .ul .column:first-child
{
  margin-left: -30px;
}
.services .ul .column .separator
{
  display: block;
  width: 1px;
  height: 5px;
  background: #f6f6f6;
  margin: 10px auto;
}
.services .ul .column h2
{
  color: #616161;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
.services .ul .column p
{
 color: #696969;
  font-size: 14px;
  line-height: 28px;
  margin-top: 5px;
  letter-spacing: .5px;
  max-width: 450px;
  text-align: justify;
}

.wallpaper
{
  display: block;
  margin-left: -100px;
  margin-top: 10px;
  margin-bottom: 75px;
}

/* google icon */
.material-icons
{
  position: relative;
  left: -5px;
  top: 6px;
}

/* contact form */
input[type=text] , textarea
{
  width: 109%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email]
{
  width: 109%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}
input[type=submit]
{
  background-color: #A9A9A9;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover
{
  background-color: #C0C0C0;
  transition:all .2s linear;
  -webkit-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -o-transition:all .2s linear;

}

/* footer */
footer
{
  padding: 35px 0;
  overflow: hidden;
}
footer .footer_logo
{
  float: left;
}
footer .rights p
{
  float: left;
  color: #838181;
  font-family: "Raleway";
  font-size: 13px;
  margin: 5px 0 0 40px;
}
footer .rights p a
{
  color: #777;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
footer nav ul
{
  float: right;
  overflow: hidden;
  list-style: none;
  margin-top: 5px;
}
footer nav ul li
{
  float: left;
  margin-left: 25px;
}
footer nav ul li a
{
  color: #696969;
  font-family: "Raleway";
  font-size: 13px;
  text-decoration: none;

  transition:all .2s linear;
  -webkit-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -o-transition:all .2s linear;
}
footer nav ul li a:hover
{
  color: #616161;
}
